<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Design.js"></script>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#B00000">
        <div class="noselect">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/Home/Index">
                        <img id="navImg" src="~/Images/Logo/stebra_logo_white_notagline.png" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                        <li>@Html.ActionLink("Om oss", "About", "Home")</li>
                        <li>@Html.ActionLink("Vad vi har att erbjuda", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Nyheter", "News", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


     <section class="jumbotron" style="padding-top:0px;">
            <div id="homeCarousel" class="carousel slide" data-ride="carousel">
                <ol id="homeCarouselbtn" class="carousel-indicators">
                    <li data-target="#homeCarousel" data-slide-to="0" class="active" style="border-color:grey"></li>
                    <li data-target="#homeCarousel" data-slide-to="1" style="border-color:grey"></li>
                    <li data-target="#homeCarousel" data-slide-to="2" style="border-color:grey"></li>
                    <li data-target="#homeCarousel" data-slide-to="3" style="border-color:grey"></li>
                    <li data-target="#homeCarousel" data-slide-to="4" style="border-color:grey"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="fill" style="background-image: url('../../Images/HomeScroll/info.png');"></div>
                    </div>

                    <div class="item">
                        <div class="fill" style="background-image: url('../../Images/HomeScroll/samarbeta.png');"></div>
                    </div>

                    <div class="item">
                        <div class="fill" style="background-image: url('../../Images/HomeScroll/sok.png');"></div>
                    </div>

                    <div class="item">
                        <div class="fill" style="background-image: url('../../Images/HomeScroll/till.png');"></div>
                    </div>

                    <div class="item">
                        <div class="fill" style="background-image: url('../../Images/HomeScroll/bring.png');"></div>
                    </div>
                </div>

                <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
      </section>

        <div id="myContent" class="container body-content">
            @RenderBody()
            <hr />
        </div>

        <footer class="col-xs-12 footer" style="background-color:lightgrey; width:100%; bottom:0; position:inherit">

            <div class="col-xs-12">
                <img src="~/Images/Logo/stebra_logo_black.png" />
            </div>

            <div class="col-xs-12">
                <h3>stebra consulting AB</h3>
            </div>


            <div class="col-sm-6 col-xs-12">
                <p><b>Adress:</b></p>
                <p>Brännkyrkagatan 95</p>
                <p>117 26 Stockholm</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <p class="text-right"><b>Tel:</b> 0732-613386</p>
                <p class="text-right"><b>Mail:</b> info@stebra.se</p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
