<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Design.js"></script>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="noselect">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/Home/Index">
                        <img id="navImg" src="~/Images/Logo/stebra_logo_white_notagline.png" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                        <li>@Html.ActionLink("Om oss", "About", "Home")</li>
                        <li>@Html.ActionLink("Vad vi har att erbjuda", "Contact", "Home")</li>
                    </ul>

                    <ul id="flashNav" class="nav navbar-nav navbar-right">
                        @*
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        *@
                        <li><a id="navNews" role="button">Nyheter</a></li>
                        <li><a id="navProjects" role="button">Projekt</a></li>
                        <li><a id="navBlogs" role="button">Blogg</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div><!-- /noselect class -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <img src="~/Images/Logo/stebra_logo_black.png" />
            <h3>stebra consulting AB</h3>
            <p><b>Adress:</b></p>
            <p>Brännkyrkagatan 95</p>
            <p>117 26 Stockholm</p>
            <p><b>Tel:</b> 0732-613386</p>
            <p><b>Mail:</b> info@stebra.se</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
